*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/edu/ttu/www/theerrors_fitlyfe/MainActivity.java
app/src/main/java/edu/ttu/www/theerrors_fitlyfe/MainActivity.java
app/app.iml
.idea/modules.xml
